@import '~/utils/mixins/responsive.scss';

.select {
  display: flex;
  flex-direction: column;
}
.input {
  padding: 1rem 2rem;
  width: 100%;
  max-width: var(--max-input-width);
  font-family: inherit;

  @include respond(phone) {
    max-width: 100%;
  }
}
