@import '~/utils/mixins/responsive.scss';

.container {
  // max-width: 60rem;
  // margin-top: 4rem;
  margin-left: 24rem;

  @include respond(phone) {
  
    text-align: center;
    margin: 2rem 4rem;
  }
}

.bio {
  column-count: 3;
  @include respond(phone) {
    column-count: 1;
    
  }
}
