@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");
@import "~/utils/mixins/responsive.scss";
.card {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  min-width: 50rem;
  max-width: 50rem;
  padding: 4rem;
  // border: 3px solid var(--color-accent);
  height: auto;
  transition: background-color 0.2s ease-in;
  box-shadow: var(--form-shadow);
  cursor: pointer;
  overflow: hidden;

  @include respond(phone) {
    min-width: 90vw;
  }

  &:hover,
  &--active {
    background-color: var(--color-accent) !important;

    p {
      color: var(--color-white);
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin-top: -8rem;
    margin-top: 4rem;

    max-height: 10rem;
  }

  &__qoute {
    font-family: "PT Serif", serif !important;
    font-size: 20rem !important;
    line-height: 0rem;
    transform: translate(0, 6rem);
    user-select: none;
    z-index: 1;
  }

  &:not(:last-of-type) {
    margin-right: var(--grid-gap);
  }

  @include respond(phone) {
    background-color: var(--color-accent);
    p {
      color: var(--color-white);
    }
  }
}
