@import '~apps/frontend/utils/mixins/responsive.scss';
.container {
  max-width: var(--max-width);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include respond(phone) {
    grid-template-columns: 1fr;
    margin: 4rem 2rem;
  }
}
.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 90%;

  @include respond(phone) {
    width: 100%;
    align-items: center;
  }

  &__buttons {
    margin-bottom: 8rem;
    margin-top: 2rem;
  }

  &__tags {
    display: flex;
    width: 80%;
    justify-content: space-between;
  }

  &__headings {
    margin-bottom: 4rem;
    @include respond(phone) {
      text-align: center;
    }
  }
}
