@import "~/utils/mixins/responsive.scss";
.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(5rem, 36rem));
  margin-bottom: 4rem;
  grid-row-gap: 4rem;
  grid-column-gap: 2rem;

  @include respond(phone) {
    grid-template-columns: 1fr;
  }
}
