.button {
  display: inline-block;
  color: var(--color-font);
  font-size: var(--font-paragraph);
  cursor: pointer;
  font-family: inherit;
  max-width: 32rem;
}

.primary {
  background-color: var(--color-primary);
  outline: none;
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
  border: 2px solid var(--color-primary);
  &:hover {
    background-color: var(--color-secondary);
  }
}

.outline {
  padding: 1rem 2rem;
  border: 2px solid var(--color-accent);
  color: currentColor;
  border-style: inset;
  background-color: transparent;
  outline: none;

  &--secondary {
    border: 2px solid var(--color-secondary);
    color: var(--color-secondary);

    &:hover {
      background-color: var(--color-secondary) !important;
    }
  }
  &:hover {
    transition: all 0.2s ease;
    background-color: var(--color-accent);
    color: var(--color-white);
  }

  .outline--active {
    background-color: currentColor !important;
  }
}

.text {
  padding: 1rem 2rem;
  background-color: transparent;
  outline: none;
  border: none;
  transition: all 0.2s ease-in;
  &:hover {
    color: var(--color-primary) !important;
  }
}
