@import '~apps/frontend/utils/mixins/responsive.scss';
.navbar {
  height: 10rem;
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  padding: 0 2rem;
  z-index: 100;
  position: relative;
}
.container {
  max-width: var(--max-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

.nav {
  display: flex;
  list-style: none;
  width: 60rem;
  justify-content: space-between;

  &__link {
    text-decoration: none;
    font-size: var(--font-paragraph);
    color: var(--color-font);
    transition: color 0.2s ease-in;
    &:hover {
      color: var(--color-primary);
    }
  }

  @include respond(phone) {
    display: none;
  }
}

.btn--login {
  @include respond(phone) {
    display: none;
  }
}

.btn--cta {
  margin-right: 3rem;
  @include respond(phone) {
    margin-right: 0;
  }
}
