@import '~/utils/mixins/responsive.scss';
.navbar {
  height: 10rem;
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  padding: 0 2rem;
  z-index: 20;
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 0 0 1rem rgba($color: #000000, $alpha: 0.3);
}
.container {
  max-width: var(--max-width);
  // display: flex;
  display: grid;
  grid-template-columns: 4fr 4fr 3fr;
  align-items: center;
  // justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  height: 100%;

  &__buttons {
    display: flex;
    justify-self: flex-end;
    // justify-content: space-between;
  }

  @include respond(tab-land) {
    display: flex;
    justify-content: space-between;
  }
}

.nav {
  display: flex;
  list-style: none;
  // width: 60rem;

  // justify-content: space-between;
  gap: 5rem;

  &__link {
    text-decoration: none;
    font-size: var(--font-paragraph);
    color: var(--color-font);
    transition: color 0.2s ease-in;
    &:hover {
      color: var(--color-primary);
    }
  }

  @include respond(tab-land) {
    gap: 3rem;
  }

  @include respond(tab-port) {
    display: none;
  }
}

.btn--login {
  @include respond(phone) {
    display: none !important;
  }
}

.btn--cta {
  margin-right: 3rem;
  @include respond(phone) {
    margin-right: 0;
  }
}

.btn--logout {
  background-color: red !important;
  color: white !important;

  @include respond(phone) {
    display: none !important;
  }
}
