@import '~/utils/mixins/responsive.scss';

.filters {
  max-width: var(--max-width);
  margin: 4rem auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: var(--grid-gap);

  @include respond(phone) {
    grid-template-columns: 1fr;
    margin: 0 2rem;
  }
}

.results {
  &__image {
    position: relative;
    width: 100%;
    height: 25rem;
    margin-bottom: 3rem;
  }
}

.text {
  &--description {
    margin-bottom: 3rem;
  }

  &--paragraph {
    margin-bottom: 3rem;
  }
}

.heading {
  &--main {
    margin: 1.4rem 0;
  }

  &--secondary {
    margin: 1rem 0;
  }
}
