@import '~/utils/mixins/responsive.scss';
.services {
  display: grid;

  grid-template-columns: repeat(3, minmax(5rem, 1fr));
  @include respond(tab-land) {
    grid-template-columns: repeat(3, minmax(5rem, 1fr));
  }
  // grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));

  @include respond(phone) {
    grid-template-columns: repeat(2, 1fr);
  }
}
