.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  //   background-color: orange;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &__element {
    width: 100vw;
    height: 100vh;
    // position: absolute;
    top: 0;
    left: 0;
    // background-color: blue;
    div {
      position: relative;
      height: 100%;
      width: 100%;
    }
  }
}
