.container {
  display: flex;
  overflow: hidden;
  position: relative;
  height: 60rem;
  //   align-items: center;

  justify-content: center;
  width: 100%;
}
.slider {
  display: flex;
  position: absolute;
  width: 100%;
  z-index: 1;
}
