@import "~/utils/mixins/responsive.scss";

.finder {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-accent);
  padding: 4rem 8rem;
  // margin: 8rem 0;
  width: 100%;

  @include respond(phone) {
    padding: 3rem 6rem;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: var(--max-width);

  &__details {
    width: 50%;
  }

  &__finder {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    
  }

  @include respond(phone) {
    flex-direction: column;

    &__details {
      width: 100%;
      margin-bottom: 2rem;
    }

    &__finder {
      width: 100%;
    }
  }
}

.button {
  width: 100%;
  margin-top: 1rem;
}
