@import '~/utils/mixins/responsive.scss';
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: var(--margin-section-auto);
  margin-bottom: 4rem;
  max-width: var(--max-width);

  &__details {
    max-width: 70rem;

    @include respond(tab-port) {
      max-width: 50rem;
    }

    @include respond(phone) {
      max-width: 40rem;
    }
  }
}

.container {
  &--fullScreen {
    width: 100%;
    margin: var(--margin-section-auto);
  }

  &--default {
    width: 100%;
    max-width: var(--max-width);
    margin: var(--margin-section-auto);
  }
}
.section {
  width: 100%;
  // max-width: var(--max-width);
  margin: var(--margin-section-auto);
  @include respond(tab-land) {
    padding: 0 2rem;
  }
}
