.textbox {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  width: 100%;

  &__label {
    font-size: var(--color-font);
    font-size: var(--font-paragraph);
    font-family: inherit;
    opacity: 0.7;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
  }
}
.input {
  font-size: var(--font-paragraph);
  color: var(--color-font);
  padding: 1rem 1.5rem;
  background-color: var(--color-grey-light);
  border: none;
  font-family: inherit;
  width: 100%;
  transition: all 0.2s ease;
  max-width: var(--max-input-width);
  &--field {
    resize: none;
    max-width: 60rem !important;
  }
  &:focus {
    outline-color: var(--color-secondary);
  }
}
